<div class="notif-panel">
  @if (notifications.length === 0) {
    <p class="notif-panel__empty">Aucune notification.</p>
  } @else {
    <div class="notif-panel__header">
      <button class="notif-panel__mark-all" (click)="handleMarkAll()">
        Tout marquer comme lu
      </button>
    </div>
    <mat-divider />
    <mat-action-list>
      @for (notif of notifications; track notif.id) {
        <mat-list-item
          class="notif-item"
          [class.notif-item--unread]="!notif.read"
          (click)="handleClick(notif)">
          <mat-icon matListItemIcon aria-hidden="true">
            {{ notif.read ? 'notifications_none' : 'notifications_active' }}
          </mat-icon>
          <span matListItemTitle>{{ notif.title }}</span>
          <span matListItemLine>{{ notif.body }}</span>
        </mat-list-item>
      }
    </mat-action-list>
  }
</div>
